a:link { 
    color:#000000; 
    TEXT-DECORATION:none
}

.colororange {
    background-color:#ff9900;
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.colorwhite {
    background-color:#FFFFFF;
    filter: alpha(opacity=80);
    opacity: 0.8;
}

.background {
    background-image:url(images/index1.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: 130%;
}

.thumbnail .cover {
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.thumbnail .cover img {
    min-width: 100%;
    min-height: 100%;
    overflow: hidden;
    vertical-align: middle;
}

.thumbnail .caption{
    height: 120px;
    overflow: hidden;
}

.thumbnail .caption h4{
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font-weight: bold;
}

.thumbnail .caption p{
    text-overflow: ellipsis;
}

.thumbnail .caption-price h4{
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    font-weight: bold;
}

.dish-image-fix-width
{
    width: 100%;
}

#dishImg
{
    width:100%;
}

.dish-preview .cover img
{
    width:100%;
}

.table tfoot tr th.vertical-mid {
    vertical-align: middle;
}

.vertical-mid {
    vertical-align: middle;
}