<!-- We include the sidebar as it is shared across two screens. -->
<ng-include src="'partials/dinner-sidebar.html'" ng-controller="DinnerCtrl"></ng-include>

<div id="dishView" >
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" id="dishName">{Title}</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-md-6">
                    <img id="dishImg" data-src="{ImageURL}" />
                    <p id="dishDescription">{Description}</p>
                    <p id="dishInstruction">{Instruction}</p>
                    <button id="dishBackBtn" class="btn btn-default" type="">Back to select dish</button>
                    <p>&nbsp;</p>
                </div>
                <div class="col-md-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <b>Ingrediant for <span id="dishNumGeustCount">{numGuest}</span> people</b>
                        </div>
                        <table class="table">
                            <tfoot>
                                <tr>
                                    <td colspan="2">
                                        <button id="dishConfirmBtn" class="btn btn-success" type="">Confirm Dish</button>
                                    </td>
                                    <th class="vertical-mid">SEK</th>
                                    <th id="dishPriceSum" class="vertical-mid">{totalPrice}</th>
                                </tr>
                            </tfoot>
                            <tbody id="ingrediantsListView" class="list-view">
                                <script class="item-template" id="ingrediantTrTemplate" type="html">
                                    <tr class="ingrediantRow" data-id="{IngredientID}">
                                        <td><span class="ingr-quantity" data-quantity="{Quantity}">{DisplayQuantity}</span>&nbsp;<span class="ingr-quant-uint">{Unit}</span></td>
                                        <td class="ingr-name">{Name}</td>
                                        <td>SEK</td>
                                        <td class="ingr-price" data-price="{Quantity}">{Quantity}</td>
                                    </tr>
                                </script>                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- TODO in Lab 5: Display the dish information including image, Description, 
Instructions, Ingredients and total cost. -->
