<!-- TODO in Lab 5: there is not much to do on the home screen. Just arrange the layout so it
looks a bit nicer. 
<a href="#/search" class="btn btn-primary">Create new dinner</a>    -->

<div class="container">
    <div class="row">
        <div id="StartView">
        <table class="table .table-hover">
            <tr>
                <td width="310" height="115">&nbsp;</td>
                <td width="361">&nbsp;</td>
            </tr>
            <tr>
                <td width="310" class="panel panel-default">
                    <div class="panel-heading">A Home Dinner Service</div>
                    <div class="panel-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,sed do wiusmod tempor incidicunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <p>start quickly</p>
                    </div>
                    <div><button id="createDinnerBtn" type="button" class="btn btn-info"><a href="#/search">Create new dinner</a></button></div>		
                </td>
            </tr>
        </table>
        </div>
    </div>
</div>